%div#response
  %p
    %b Ruby Code:
    = find_and_preserve CodeRay.scan(generate_code(request, response), "ruby").div.html_safe
  %p
    %b Response:
    = find_and_preserve CodeRay.scan(format_hash(response.to_hash(:attribute => false, :namespace => false)), "ruby").div.html_safe

