.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .pull-right
        = link_to "Source Code", "https://github.com/paypal/merchant-sdk-ruby", :class => "btn"
        %span.btn.btn-info.disabled Click Submit to Generate Ruby Code !
      %a.brand{:href => "#"} PayPal SDK
      .nav-collapse.collapse
        %ul.nav
          = active_li_regexp "Merchant", merchant_path
