= api_form_for @get_recurring_payments_profile_details, :url => merchant_path(:get_recurring_payments_profile_details) do |f|
  .row
    .span5
      %legend Get recurring payments profile details request
      = f.input :ProfileID

  .form-actions
    = f.submit "Submit", :class => "btn btn-primary", :data => { :disable_with => "Processing.." }

- if @get_recurring_payments_profile_details_response
  = render 'api_response', :request => @get_recurring_payments_profile_details, :response => @get_recurring_payments_profile_details_response
