/*
 *= require_self
 *= require twitter-bootstrap-static/bootstrap
 *= require_tree .
 */

body {
    padding-bottom: 40px;
    padding-top: 60px;
}

.well.well-mini {
  padding: 2px;
}

.input-micro {
  width: 30px;
}
